.welcome_container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.content_wrapper {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 150px 0;
    box-sizing: border-box;
}

.welcome {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
}

.title {

}

.search_container {
    padding: 20px 0;
    box-sizing: border-box;
}

.search_request {
    border: 1px solid #c1c1c1;
    border-radius: 20px;
    padding: 12px;
    margin-right: 15px;

    width: 450px;
    font-size: 16px;
    font-weight: 100;
    color: gray;
}

.search_request:focus-visible {
    outline: 2px solid #6262ff;
}

.search_btn {
    border: 1px solid #6262ff;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.search_btn:hover {
    cursor: pointer;
    background-color: #0056b3;
}

.search_btn:disabled {
    cursor: not-allowed;
    transition: none !important;
    background-color: #004483;
}