.welcome_container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
            135deg,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0.7) 100%
    );
    z-index: 1;
}

.content_wrapper {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 220px 0;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.welcome {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.title {
    color: white;
}

.search_container {
    padding: 20px 0;
    box-sizing: border-box;
}

.search_request {
    border: 1px solid #c1c1c1;
    border-radius: 20px;
    padding: 12px;
    margin-right: 15px;
    width: 450px;
    font-size: 16px;
    font-weight: 100;
    color: gray;
    box-sizing: border-box;
}

.search_request:focus-visible {
    outline: 2px solid #6262ff;
}

.search_btn {
    border: 1px solid #6262ff;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.search_btn:hover {
    cursor: pointer;
    background-color: #0056b3;
}

.search_btn:disabled {
    cursor: not-allowed;
    transition: none !important;
    background-color: #004483;
}