.card_wrapper {
    display: flex;
    flex-direction: column;
}

.card {
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card:hover .like_btn {
    opacity: 1;
    visibility: visible;
}

.like_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    background-color: #494949;
    border-radius: 50%;
    border: none;

    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
    opacity: 10%;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 2;
}

.like_btn:hover {
    background-color: #2266ff;
    color: white;
}

.like_btn.always_visible {
    opacity: 1;
    visibility: visible;
}

.like_btn.always_visible .heart_icon {
    fill: #ffca5e;
    stroke: #ffca5e;
}

.heart_icon {
    width: 20px;
    height: 20px;
    fill: #d5d5d5;
    stroke: #d5d5d5;
    stroke-width: 2;
    transition: all 0.3s ease;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    color: white;
}

.rating_red {
    background-color: #d9534f;
}

.rating_yellow {
    background-color: #e4bb60;
}

.rating_green {
    background-color: #5cb85c;
}

.movie_title {
    padding: 10px 0;
    font-weight: 500;
    font-size: 20px;
}